:root{
    --pri:#ddf7f7;
    --sec:#CBF1F5;
    --tri1:#A6E3E9;
    --tri2:#71C9CE;

    /* color */
    --color-pri:#5e87b6de;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url('./Aeonik-Light.ttf');
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url('./Aeonik-Regular.ttf');
}
@font-face {
    font-family:aeonik;
    font-weight: 700;
    src: url('./Aeonik-Bold.ttf');
}





*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: var(--pri);
    background-color: var(--tri1);
}

html,body{
    width: 100%;
    height: 100%;

}

main{
    width: 100%;
    height: 100%;
    background-color: var(--tri1);
}


nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--tri1);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    /* background-color: var(--sec); */
}

.elem{
    width: 330px;
    height: 400px;
    background-color: var(--color-pri);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all linear 0.2s;
    box-shadow: 0px 12px 19px var(--color-pri);
}

.elem:hover{
    box-shadow: 0px 20px 15px rgb(98, 193, 248);
}

.elem:active{
    scale: 0.96;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.elem h1{
    position: absolute;
    bottom: 5%;
    font-weight: 700;
    left: 5%;
    font-size: 1.8rem;
    color: rgb(4, 19, 59);
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    padding: 40px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right,red,var(--pri));
    color: black;
    text-align: center;
    transition: all linear 0.2s;
}

.back:active{
    scale: 0.85;
}

