:root{
    --pri:#ddf7f7;
    --sec:#CBF1F5;
    --tri1:#a6e3e9cc;
    --tri2:#71c9ceef;

    /* color */
    --color-pri:#102C57;
    --color-sec:#5e87b6de;

}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url('./Aeonik-Light.ttf');
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url('./Aeonik-Regular.ttf');
}
@font-face {
    font-family:aeonik;
    font-weight: 700;
    src: url('./Aeonik-Bold.ttf');
}





*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: black;
    /* background-color: var(--tri1); */
}

html,body{
    width: 100%;
    height: 100%;

}

main{
    width: 100%;
    height: 100%;
    background-color: var(--tri1);
    overflow: auto;
}


nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--tri1);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    /* background-color: var(--sec); */
}

.elem{
    width: 330px;
    height: 400px;
    background-color: var(--color-pri);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all linear 0.2s;
    box-shadow: 0px 12px 19px var(--color-pri);
}

.elem:hover{
    box-shadow: 0px 20px 15px rgb(98, 193, 248);
}

.elem:active{
    scale: 0.96;
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.elem h1{
    position: absolute;
    bottom: 5%;
    font-weight: 700;
    left: 5%;
    font-size: 1.8rem;
    color: rgb(4, 19, 59);
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    padding: 40px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right,red,var(--pri));
    color: black;
    text-align: center;
    transition: all linear 0.2s;
}

.back:active{
    scale: 0.85;
}


/* .todoList-fullPage{
    
    display: block;
} */

.todoList-fullPage .todo-container{
    height: 70%;
    width: 100%;
    margin-top: 30px;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoList-fullPage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 20px;
}

.todoList-fullPage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 30px;
    
}

.todoList-fullPage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input#task-input{
    width: 100%;
    padding: 14px 10px;
    font-size: 20;
    border: none;
    outline: none;
    border-radius: 8px;
    font: 20px;
    margin-bottom: 20px;
    background-color: var(--pri);
}

.todo-container .addTask form textarea{
      width: 100%;
    padding: 14px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font: 20px;
    margin-bottom: 20px;
        background-color: var(--pri);

}

.todo-container .addTask form button{
      width: 100%;
    padding: 14px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    background: linear-gradient(to right,rgb(43, 116, 145),var(--sec));
    transition: all linear 0.5s;

}

.todo-container .addTask form button:active{
    scale: 0.85;
}


.todoList-fullPage .todo-container .allTask .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    background-color: var(--pri);
    padding: 17px 20px;
    border-radius: 8px;
        /* background: linear-gradient(to right,rgb(43, 116, 145),var(--pri)); */

    margin-bottom: 10px;
}

.task h5{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-pri);
    display: flex;
    align-items: center;
    gap: 5px;
}

.task h5 span{
    background-color: red;
    color: var(--color-pri);
    padding: 3px 5px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 300;
    opacity: 0;
    
}

.task h5 span.true{
    opacity: 1;
}
/* .task h5 span.false{
    opacity: 0;
} */

.task button{
    width: fit-content;
    padding: 14px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    background: linear-gradient(to right,rgb(12, 238, 61),var(--sec));
    transition: all linear 0.5s;
    color: #102C57;
}

.task button:active{
    scale: 0.85;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap:10px;
    padding: 10px 0px;
    margin-bottom: 20px;

}
.mark-imp input#check{
   scale: 1.5;
}
.mark-imp label{
    /* text-wrap: nowrap; */
}


/* .dailyPlan-fullPage{
    display: block;
} */

.dailyPlan-fullPage h2{
    font-size: 40px;
}

.dailyPlan-fullPage .day-planner{
    background-color: var(--tri1);
    height: 85%;
    width: 100%;
    margin-top: 40px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    overflow: auto;
    
}

.dailyPlan-fullPage .day-planner .day-planner-time{
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time input{
    padding: 20px 40px ;
    padding-top: 30px;
    width: 100%;
    background-color: var(--pri);
    border-radius: 8px;
    font-size: 26px;
    border: none;
    outline: none;
    font-weight: 300;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
}

.motivation-fullPage{
    position: relative;
}

.motivation-fullpage-container{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.motivation-fullPage .motivation-container{
    width: 600px;
    height: 70%;
    background-color: var(--color-pri);
    position: relative;
    
    border-radius: 20px;

}

.motivation-fullPage .motivation-container::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--color-sec);
    position: absolute;
    scale: 1.1;
    border-radius: 10px;
    z-index: 8;
    filter: blur(10px);
}

 .motivation-container .motivation-wrapper{
    z-index: 10;
     width: 100%;
    height: 100%;
    background-color: var(--tri2);
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.motivation-container .motivation-wrapper .motivation1{
    background-color: #1f60c2;
    padding: 20px;
    border-radius: 10px;
}

.motivation-wrapper .motivation1 h2{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.motivation-wrapper .motivation2{
    padding: 20px;

}

.motivation-wrapper .motivation2 h2{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
} 

.motivation-wrapper .motivation3{
    background-color: #1f60c2;
    padding: 10px;
    border-radius: 10px;
}

.motivation-wrapper .motivation3 h2{
    font-size: 25px;
    font-weight: 800;
    text-align: end;
    padding: 2px 15px;
}

.pomodoro-fullPage{
    display: block;
  
}

.pomodoro-fullPage .pomodoro-containt{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--tri1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .pomodoro-containt h1{
    font-size: 110px;
    font-weight: 800;
    margin: 10px;
}

.pomodoro-containt h3{
    background: linear-gradient(to right ,rgb(66, 255, 41),var(--pri));
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.breakTime{
    background: linear-gradient(to right ,rgb(255, 48, 41),var(--pri));
}


.pomodoro-containt .pomoBtns{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.pomoBtns .timer:disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed; 
  opacity: 0.6; 
  pointer-events: none;
}


 .pomodoro-containt .timer{
    cursor: pointer;
    padding: 15px 20px;
   box-shadow: 10px 10px 15px var(--color-pri);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: 700;
    background: linear-gradient(to right,rgb(43, 116, 145),var(--sec));
    transition: all linear 0.3s;
}

 .pomodoro-containt .timer:active{
    scale: 0.82;
}